
{{#each albums as |album|}}
  <!-- {{log album}} -->
    <br>
      <section data-id="{{album._id}}">
        <!-- Card Wider -->

        <div class="card-columns">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
            <button type="submit" class="btn btn-outline-danger delete-album">Delete Album</button>
          </div>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <!-- <h4 class="card-title"><strong>Title:</strong></h4> -->
            <h4 class="card-title"><strong></strong></h4>

            <h2>
              {{limit album.title 15}}
            </h2>
            <!-- Genre -->
            <h5 class="blue-text pb-2"><strong>Genre:</strong></h5>
            <p>
              {{#if album.genre}}
              {{album.genre}}
              {{else}}
              No Genre provided
              {{/if}}
            </p>
            <!-- Style -->
            <h5 class="blue-text pb-2"><strong>Style:</strong></h5>
            <p>
              {{#if album.style}}
              {{album.style}}
              {{else}}
              No Style provided
              {{/if}}
            </p>
            <!-- firstRelease -->
            <h5 class="blue-text pb-2"><strong>First Release:</strong></h5>
            <p>
              {{#if album.firstRelease}}
              {{album.firstRelease}}
              {{else}}
              No First Release provided
              {{/if}}
            </p><br>
            {{> partial}}
          </div>
        </div>
      </section>
    <!-- <br> -->
{{/each}}
