
{{#each albums as |album|}}
  <br>
    <section data-id="{{album._id}}">
      <div class="card-columns">
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
          <button type="submit" class="btn btn-outline-danger delete-album">Delete Album</button>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong></strong></h4>
            <h2 class="titleHeading">
              {{limit album.title 15}}
            </h2 class="titleHeading">
          <h5 class="blue-text infoCard"><strong>Artist:</strong></h5>
            <p>
              {{#if album.style}}
              {{album.style}}
              {{else}}
              No Style provided
              {{/if}}
            </p>
          <h5 class="blue-text infoCard"><strong>Genre:</strong></h5>
            <p>
              {{#if album.genre}}
              {{album.genre}}
              {{else}}
              No Genre provided
              {{/if}}
            </p>
          <h5 class="blue-text infoCard"><strong>First Release:</strong></h5>
            <p>
              {{#if album.firstRelease}}
              {{album.firstRelease}}
              {{else}}
              No First Release provided
              {{/if}}
            </p><br>
          {{> partial}}
        </div>
      </div>
    </section>
{{/each}}
